<ks-header name="Upload Product" class="pb-6"></ks-header>
<div class="container mt--6">
    <div class="row justify-content-center">
        <div class="card col-lg-8">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">Upload Service Form</h3>
            </div>
            <!-- Card body -->
            <div class="card-body">
                <form name="product" [formGroup]="form">
                    <!-- Input groups with icon -->
                    <div class="row">
                        <div class="col-12">
                            <!-- Image -->
                            <div class="form-group">
                                <label for="exampleFormControlFile1">
                                    <i class="fa fa-image"></i> Image
                                </label>
                                <ks-file-form-control title="Select main product image." formControlName="image" [error]="form.controls.image.invalid && form.controls.image.dirty"></ks-file-form-control>
                                <div class="invalid-feedback" [ngClass]="{ 'd-block': form.controls.image.invalid && form.controls.image.dirty }">
                                    <span *ngIf="form.controls.image.errors?.required">{{ formErrors.image.required }}</span>
                                    <span *ngIf="form.controls.image.errors?.fileSize">{{ formErrors.image.max }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- Images -->
                            <div class="form-group">
                                <label for="exampleFormControlFile1">
                                    <i class="fa fa-images"></i> Images preview.
                                </label>
                                <ks-file-form-control title="Select product image preview images." formControlName="images" [multiple]="true" [error]="form.controls.images.invalid && form.controls.images.dirty"></ks-file-form-control>
                                <div class="invalid-feedback">
                                    <span *ngIf="form.controls.images.errors?.fileSize">{{ formErrors.images.max }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- Name -->
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative" [ngClass]="{ 'is-invalid': form.controls.name.invalid && form.controls.name.dirty }">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-shopping-bag"></i></span>
                                    </div>
                                    <input name="name" class="form-control" placeholder="Name" type="text" formControlName="name">
                                </div>
                                <div class="invalid-feedback">
                                    <span *ngIf="form.controls.name.errors?.required">{{ formErrors.name.required }}</span>
                                    <span *ngIf="form.controls.name.errors?.minLength">{{ formErrors.name.min }}</span>
                                    <span *ngIf="form.controls.name.errors?.maxLength">{{ formErrors.name.max }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- Price -->
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative" [ngClass]="{ 'is-invalid': form.controls.price.invalid && form.controls.price.dirty }">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-money-bill"></i></span>
                                    </div>
                                    <input name="price" class="form-control" placeholder="Price" type="text" formControlName="price">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><small class="font-weight-bold">RAND</small></span>
                                    </div>
                                </div>
                                <div class="invalid-feedback">
                                    <span *ngIf="form.controls.price.errors?.required">{{ formErrors.price.required }}</span>
                                    <span *ngIf="form.controls.price.errors?.numeric">{{ formErrors.price.invalid }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- Discount -->
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative" [ngClass]="{ 'is-invalid': form.controls.discount.invalid && form.controls.discount.dirty }">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-money-bill-wave"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Discount" type="text" formControlName="discount">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><small class="font-weight-bold">RAND</small></span>
                                    </div>
                                </div>
                                <div class="invalid-feedback">
                                    <span *ngIf="form.controls.discount.errors?.numeric">{{ formErrors.discount.invalid }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <!-- Category -->
                                <div class="input-group input-group-merge input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-clipboard-list"></i></span>
                                    </div>
                                    <select name="category_id" class="form-control text-capitalize" formControlName="category_id">
                                        <option hidden value="" disabled selected>---Categories---</option>
                                        <option *ngFor="let category of categories | async" [value]="category.id">{{ category.name }}</option>
                                    </select>
                                </div>
                                <div class="invalid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- Instock -->
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative" [ngClass]="{ 'is-invalid': form.controls.discount.invalid && form.controls.discount.dirty }">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-store"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Instock" type="text" formControlName="in_stock">
                                </div>
                                <div class="invalid-feedback">
                                    <span *ngIf="form.controls.in_stock.errors?.required">{{ formErrors.in_stock.required }}</span>
                                    <span *ngIf="form.controls.in_stock.errors?.numeric">{{ formErrors.in_stock.invalid }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <!-- Description -->
                            <div class="form-group">
                                <textarea name="description" class="form-control form-control-lg" rows="8" placeholder="Description..." formControlName="description" [ngClass]="{ 'is-invalid': form.controls.description.invalid && form.controls.description.dirty }"></textarea>
                                <div class="invalid-feedback">
                                    <span *ngIf="form.controls.description.errors?.required">{{ formErrors.description.required }}</span>
                                    <span *ngIf="form.controls.description.errors?.maxWords">{{ formErrors.description.max }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            {{ form.value.image | json }}
                        </div>
                        <div class="col-12">
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary mb-2" (click)="upload()" [disabled]="!form.invalid">
                                    Upload Service
                                </button>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            <ks-alert *ngIf="error" alert="danger" [message]="error?.message" [errors]="error?.errors"></ks-alert>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>