<nav class="navbar navbar-expand">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="mr-auto form-inline">
            <button type="button" class="btn btn-primary btn-icon-only rounded-circle">
                    <span class="btn-inner--icon"><i class="ni ni-bullet-list-67"></i></span>
                </button>
        </form>
        <ul class="navbar-nav mx-auto">
            <span class="h2 font-weight-lighter p-0 m-0">Checkout</span>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <button type="button" class="btn btn-primary btn-icon-only rounded-circle">
                    <span class="btn-inner--icon"><i class="fas fa-user-plus"></i></span>
                </button>
            <button type="button" class="btn btn-window-toggler btn-primary btn-icon-only rounded-circle d-md-none">
                    <span class="btn-inner--icon"><i class="ni ni-ui-04"></i></span>
                </button>
        </ul>
    </div>
</nav>