<div class="checkout">
    <div class="window">
        <div class="header">
            <div class="time small font-weight-bolder">
                <span class="w-25">Time</span>
                <span class="w-75 text-right">7 Nov, 2017 | 02:35:01</span>
            </div>
        </div>
        <div class="body">
            <ks-checkout-list></ks-checkout-list>
        </div>
        <div class="footer bg-transparent">
            <ks-checkout-summary></ks-checkout-summary>
            <ks-checkout-buttons></ks-checkout-buttons>
        </div>
    </div>
</div>