<form [formGroup]="form">
    <input type="file" file hidden formControlName="image" #input>
</form>
<button class="btn btn-icon btn-outline-primary" type="button">
    <span class="btn-inner--icon"><i class="fas fa-upload"></i></span>
    <span class="btn-inner--text">Profile Picture</span>
</button>
<div class="text-danger" *ngIf="form.controls.image.dirty">
    <p *ngIf="form.controls.image.errors?.required">{{ formErrors.image.required }}</p>
    <p *ngIf="form.controls.image.errors?.type">{{ formErrors.image.invalid }}</p>
    <p *ngIf="form.controls.image.errors?.maxSize">{{ formErrors.image.max }}</p>
</div>