<figure class="card card-product-grid">
    <a href="#" class="img-wrap" data-abc="true">
        <img src="../../../../../assets/img/store/SkullCandy_Earphones.jpg">
    </a>
    <figcaption class="info-wrap">
        <div class="row">
            <div class="col-md-12">
                <a href="#" class="title" data-abc="true">{{ product?.name }}</a>
            </div>
        </div>
    </figcaption>
    <div class="bottom-wrap">
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <a class="btn btn-icon btn-primary text-white">
                <span class="btn-inner--icon"><i class="ni ni-cart"></i></span>
            </a>
            <a class="btn btn-icon btn-warning text-white">
                <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
            </a>
        </div>
        <div class="price-wrap">
            <span class="h3" *ngIf="product?.discount">
                R{{ product?.discount | toFixed:2 }}
                <sup><span class="price discount small" *ngIf="product?.discount">R{{ product?.price | toFixed:2 }}</span></sup>
            </span>
            <span class="price h3" *ngIf="!product?.discount">R{{ product?.price | toFixed:2 }}</span>
            <br>
            <small class="text-success">Instock: {{ product?.in_stock }}</small>
        </div>
    </div>
</figure>