<div class="pos-screen">
    <div class="first-window">
        <div class="menu bg-white">
            <router-outlet name="first_window_navbar"></router-outlet>
        </div>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="second-window bg-white pr-2 pl-2 pr-md-3 pl-md-3 pb-md-3 d-none d-md-block">
        <div class="menu">
            <router-outlet name="second_window_navbar"></router-outlet>
        </div>
        <div class="content">
            <router-outlet name="second_window_content"></router-outlet>
        </div>
    </div>
</div>