<div class="summary small col-12 p-0 m-0">
    <div class="item">
        <div class="text-dark"><span>Discount</span></div>
        <div class="text-danger"><span>R75.00</span></div>
    </div>
    <div class="d-flex item">
        <div class="text-dark"><span>Subtotal</span></div>
        <div class="text-success"><span>R500.00</span></div>
    </div>
    <div class="d-flex item">
        <div class="text-dark"><span>Items</span></div>
        <div class="text-primary"><span>10</span></div>
    </div>
    <div class="d-flex item">
        <div class="text-dark"><span class="h3">Total</span></div>
        <div class="text-primary"><span class="h3">R425.00</span></div>
    </div>
</div>