<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="form-control-label" for="input-address">Address</label>
            <input id="input-address" class="form-control" placeholder="Home Address" type="text">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="form-group">
            <label class="form-control-label" for="input-city">City</label>
            <input type="text" id="input-city" class="form-control" placeholder="City">
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label class="form-control-label" for="input-country">Country</label>
            <input type="text" id="input-country" class="form-control" placeholder="Country">
        </div>
    </div>
    <div class="col-lg-4">
        <div class="form-group">
            <label class="form-control-label" for="input-country">Postal code</label>
            <input type="number" id="input-postal-code" class="form-control" placeholder="Postal code">
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Change</button>
    </div>
</div>