/* Custom form validation */

.input-group.is-invalid {
    border: 1px solid var(--warning);
}

.input-group.is-invalid~.invalid-feedback,
.form-control-file.is-invalid~.invalid-feedback {
    display: block;
}

.input-group.is-valid {
    border: 1px solid var(--success);
}

.input-group.is-valid~.valid-feedback,
.form-control-file.is-valid~.valid-feedback {
    display: block;
}


/* Pointer */

.pointer {
    cursor: pointer;
}


/* Badges */

.badges .badge {
    margin-right: 6px;
    margin-bottom: 6px;
}

.badges .badge.badge-primary.active {
    border: 2px solid var(--primary);
    background-color: transparent;
}


/* Input Group Search */

.input-group.input-group-search .form-control {
    border-radius: 80px;
}

.input-group.input-group-search .input-group-append .btn {
    border-radius: 100%;
    margin-left: 20px;
}