<div class="item">
    <div class="font-weight-lighter"><span class="h5 font-weight-500">Vaseline BLUESEAL</span></div>
    <div class="">
        <div class="btn-group input-group-counter btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-primary">+</button>
            <button type="button" class="btn">3</button>
            <button type="button" class="btn btn-outline-primary">+</button>
        </div>
    </div>
    <div class="">R100.00</div>
    <div class=""><span class="fas fa-edit text-primary"></span></div>
</div>